*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
    color: #fff;
}
html , body{
    height: 100%;
    width: 100%;
    cursor: none;
}

#main{
    background-color: #0f0d0d;
}

.cursor{
    display: none;
    width: 20px;
    height: 20px;
    background-color: #edbfff;
    border-radius: 50%;
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transition-property: width, height; 
    transition-duration: 0.3s; 
    transition-timing-function: ease-out; 
}

.h4{
    text-align: center;
    font-size: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition-property: all; 
    transition-duration: 0.5s; 
    transition-timing-function: linear; 
    font-weight: 100;
}

#page1{
    min-height: 100vh;
    width: 100%;
    padding: 0 20px;
    padding-top: 10vw;
}

#nav{
    padding: 0 40px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 99;
}

#nav>img{
    height: 26px;
}

.nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.nav-part2>h4{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.nav-part2>h4:nth-child(1){
    border-bottom: 1px solid #fff;
}

.nav-part3>.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}

#page1>h1{
    font-size: 8vw;
    font-weight: 400;
    margin-left: 2vw;
}

#page1>h2{
    font-size: 8vw;
    font-weight: 400;
    margin-left: 25vw;
}

#page1>video{
    width: 60%;
    margin-top: 7vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0); 
}

#page2{
    min-height: 100vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #0f0d0d;
}

#page2>h1{
    font-size: 7vw;
    font-weight: 500;
    color: #000;
}

.page2-container{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 80px;
}

.page2-left{
    width: 40%;
}

.page2-right{
    width: 30%;
}

.page2-left>h2{
    font-weight: 300;
    font-size: 4vw;
    color: #000;
}

.page2-right>p{
    font-size: 1.8vw;
    color: #000;
}

.page2-right>button{
    margin-top: 15px;
    width: 100%;
    padding: 5px 30px;
    background-color: #edbfff;
    color: #0f0d0d;
    border: none;
    border-radius: 20px;
}

#page3{
    min-height: 150vh;
    width: 100%;
    padding: 100px 5vw;
    padding-bottom: 150px;
}

#page3>h1{
    color: #000;
    font-size: 8vw;
    margin-bottom: 90px;
    font-weight: 400;
}

.page3-container{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 70px;
}

.page3-left{
    height: 100%;
    width: 40%;
    margin-top: 100px;
}

.page3-right{
    height: 100%;
    width: 40%;
}

.one{
    background-image: url(./one.jpg);
    background-size: cover;
    background-position: center;
}
.two{
    background-image: url(./two.jpg);
    background-size: cover;
    background-position: center;
}
.three{
    background-image: url(./three.jpg);
    background-size: cover;
    background-position: center;
}
.one{
    background-image: url(./one.jpg);
    background-size: cover;
    background-position: center;
}
.four{
    background-image: url(./four.jpg);
    background-size: cover;
    background-position: center;
}
.five{
    background-image: url(./five.jpg);
    background-size: cover;
    background-position: center;
}
.six{
    background-image: url(./six.jpg);
    background-size: cover;
    background-position: center;
}

#page4{
    min-height: 100vh;
    width: 100%;
    padding: 200px 5vw;
}

#elem{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
}

.text-div>h1{
    position: relative;
    font-size: 7.5vw;
    font-weight: 400;
    z-index: 10;
    transition: all ease-out 0.5s;
}

.text-div{
    height: 8vw;
    overflow: hidden;
}

#elem:hover h1{
    transform: translateY(-100%);
    color: #edbfff;
}

#elem>img{
    width: 300px;
    position: absolute;
    object-fit: cover;
    opacity: 0;
    transform: translateY(20%) rotate(5deg);
    transition: all ease 0.5s;
}



#elem img:nth-child(1){
    height: 370px;
    left: 7%;
}

#elem img:nth-child(3){
    right: 10%;
    z-index: 9;
    top: 20%;
}

#elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
}

#page5{
    min-height: 165vh;
    width: 100%;
    padding: 150px 40px;
}

#page5>h1{
    font-weight: 300;
    padding-bottom: 30px;
    color: #fff;
    font-size: 6vw;
    width: 100%;
    border-bottom: 3px solid #fff;
    text-transform: uppercase;
}

.box{
    padding: 50px 0;
    width: 100%;
    border-bottom: 3px solid #fff;
    position: relative;
    height: 10vw;
    z-index: 9;
}

.box>h4{
    font-weight: 300;
    color: #fff;
    font-size: 2vw;   
}

span{
    color: #edbfff;
}

.box img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  opacity: 0;
  z-index: 10;
  transition: opacity ease-out 0.5s;
}

footer{
    min-height: 130vh;
    width: 100vw;
    background-color: #EEBEFF;
    padding: 0 7vw;
}

.footer-upper{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-upper>h1{
    color: #000;
    font-weight: 400;
    font-size: 7vw;
}

.footer-upper>.circle{
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-upper>.circle>h4{
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
}

.footer-lower{
    width: 100%;
    height: 30vh;
}

.footer-lower>h3{
    font-size: 1.4vw;
    color: #000;
    font-weight: 400;
    margin-bottom: 4vmax;
}

.footer-lower>h4{
    font-size: 14px;
    margin-bottom: 15px;
    color: #000;
    font-weight: 400;
}

.footer-lower>h4>a{
    color: #000;
    font-weight: 400;
    text-decoration: none;
    transition: all ease 0.4s;
}

.footer-lower>h4>a:hover{
    border-bottom: 1px solid #000;
}

.footer-lower>h4>a>i{
    margin-right: 5px;
    font-size: 16px;
    color: #000;
}

